body {
    background-color: #0075B6; 
    text-align: center;
}

#nothing {
    color: azure; 
    margin-top: 15ch; 
    margin-left: 5ch; 
    margin-right: 5ch; 
    border-radius: 32px; 
    padding: 12px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#nothing:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}